[project]
	description = C Library to support ESP8266 on Nuttx. This uses ZDev Serial-library.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gokul Sriram P (dgpride)
[access "refs/for/refs/*"]
	read = group user/Gokul Sriram P (dgpride)
	push = group user/Gokul Sriram P (dgpride)
	label-Code-Review = -2..+2 group user/Gokul Sriram P (dgpride)
	label-Verified = -1..+1 group user/Gokul Sriram P (dgpride)
	rebase = group user/Gokul Sriram P (dgpride)
	removeReviewer = group user/Gokul Sriram P (dgpride)
	submit = group user/Gokul Sriram P (dgpride)
[access "refs/heads/*"]
	read = group user/Gokul Sriram P (dgpride)
	create = group user/Gokul Sriram P (dgpride)
	push = +force group user/Gokul Sriram P (dgpride)
	pushMerge = group user/Gokul Sriram P (dgpride)
[access "refs/tags/*"]
	push = group user/Gokul Sriram P (dgpride)
	push = +force group user/Gokul Sriram P (dgpride)
